
.faq {
    padding: 50px 0;
    background-image: url(../assets/bg7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.faq-title {
    color: #000; 
    -webkit-text-stroke: 1px #000;
    text-shadow: #fff 0px 0px 5px;
}
.faq {
    padding: 50px 0;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion-button {
    background-color: var(--site-color-03);
    color: #fff;
    border-radius: 5px;
}

.accordion-button:hover {
    background-color: #000;
}


.accordion-body {
    background-color: #f8f9fa;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
}
