
:root {
    --brown-background: #d2a56d;
    --site-color-01: #361c0d;
    --site-color-01-hover: #9e2f6e;
    --site-color-02: #ffcf40;
    --site-color-03: #0b253e;
    --site-color-04: #b6977d;
    --background-image-01: url(../assets/wood.png);
}
body{
    background-color: #1e1e1e;
}
h1{
    font-size: 26px;
    line-height:32px;
    color:#fff;
    font-family: Anton;
    font-weight:600;
    text-transform:uppercase;

}
p{
    font-size: 14px;
    line-height:18px;
    color:#fff;
    font-family: Anton;
}
a{
    cursor:pointer;
    font-size: 14px;
    line-height:18px;
    color:#fff;
    font-family: Anton;
    
}
