
:root {
    --brown-background: #d2a56d;
    --site-color-01: #c13584;
    --site-color-01-hover: #9e2f6e;
}
body{
    background-color: #1e1e1e;
}
h1{
    font-size: 26px;
    line-height:32px;
    color:#fff;
    font-family: Anton;
    font-weight:600;
    text-transform:uppercase;

}
p{
    font-size: 14px;
    line-height:18px;
    color:#fff;
    font-family: Anton;
}
a{
    cursor:pointer;
    font-size: 14px;
    line-height:18px;
    color:#fff;
    font-family: Anton;
    
}
