main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 30px;
  background-image: url(../assets/mainhouse1.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

main .main-intro h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 116px;
  letter-spacing: 12px;
  background-image: var(--background-image-01);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(5px 5px 1px #fff) drop-shadow(10px 7px 0px #000);
 
}
main p {
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 2px;
  text-shadow: #361c0d 2px 2px 2px;
}
main a {
  margin-top: 30px;
  font-size: 28px;
  display: block;
  background-color: var(--site-color-02);
  color: var(--site-color-01);
  border: var(--site-color-01) solid 2px;
  padding: 30px 40px;
  width: fit-content;
}
main .main-quotes p {
  border-left: 6px solid var(--site-color-01);
  padding-left: 20px;
  margin: 40px 0;
  box-shadow: -2px 0 0 var(--site-color-02);
}
main .main-quotes p:nth-child(2) {
  margin-left: 100px;
}
main .main-intro {
  position: relative;
  right: 25vh;
  padding-bottom: 30vh;
}
main .main-quotes {
  position: relative;
  left: 30vh;
  padding-bottom: 8vh;
}


@media (max-width: 767px) {
  main .main-intro {
    position: static;
    right: auto;
    padding-bottom: 10vh; /* Adjusted padding for smaller screens */
    text-align: center; /* Center text on smaller screens */
  }

  main .main-intro h1 {
    font-size: 60px; 
    line-height: 1.2; 
  }

  main p {
    font-size: 26px; 
    line-height: 1.4; 
  }

  main a {
    margin-top: 55px; 
    font-size: 26px; 
    padding: 20px 25px; 
    margin-left: auto;
    margin-right: auto;
  }

  main .main-quotes {
    display: none; /* Hide main-quotes on mobile screens */
  }
}