main {
  width: 100%;
  height: calc(100vh - 60px);
  background-color: #1a253a;
  margin-top: 2%; /* Slightly reduced margin */
  background-image: url(../assets/mainhouse57.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: 2px solid #000; /* Slightly reduced border size */
}

main .main-intro {
  position: relative;
  right: 5vw; /* Adjusted for responsive positioning */
  padding-bottom: 5vh; /* Slightly reduced padding */
}

main .main-intro h1 {
  font-family: "Cinzel Decorative", sans-serif;
  font-size: 4vw; /* Slightly reduced font size */
  line-height: 1.2em;
  color: #c3b091;
  filter: drop-shadow(3px 2px 1px #fff) drop-shadow(5px 5px 0px #000);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main p {
  font-size: 1.3rem; /* Slightly reduced font size */
  line-height: 1.4;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main a {
  margin-top: 2%; /* Slightly reduced margin */
  font-size: 1.8vw; /* Slightly reduced font size */
  padding: .5% 5%; /* Slightly reduced padding */
  margin-left: auto;
  margin-right: auto;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background: url(../assets/wood.PNG);
  border: 3px solid var(--site-color-02);
}

main a:hover {
  border: 1px solid #fff; /* Slightly reduced border size */
  filter: drop-shadow(2px 1px 1px grey) drop-shadow(3px 3px 0px #000);
  cursor: pointer;
    background: transparent;
    color: var(--site-color-02);
    border: 2px solid #fff;
  }


main .main-quotes {
  position: relative;
  left: 5vw; /* Adjusted for responsive positioning */
  padding-bottom: 1vh; /* Slightly reduced padding */
}

main .main-quotes p {
  border-left: 0.3vw solid var(--site-color-01); /* Slightly reduced border size */
  box-shadow: -5px 0 5px -5px var(--site-color-02);
  padding-left: 1vw; /* Slightly reduced padding */
  margin: 1% 0; /* Slightly reduced margin */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

@media (max-width: 767px) {
  main .main-intro {
    position: static;
    right: auto;
    padding-bottom: 8vh;
    text-align: center;
  }

  main .main-intro h1 {
    font-size: 8vw; /* Adjusted font size for smaller screens */
  }

  main p {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  main a {
    margin-top: 3%;
    font-size: 3.5vw; /* Adjusted font size for smaller screens */
    padding: 2% 3%; /* Adjusted padding for smaller screens */
  }

  main .main-quotes {
    display: none;
  }
}
.main-schdl {
  position: relative;
  left: 20vw; /* Adjusted for responsive positioning */
  top:7.5vh;
  padding-bottom: 0.5vh; /* Slightly reduced padding */
}
