.bio-section {
  position: relative;
  background-image: url('../assets/bio56.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 5vw; 
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh; 
  height:100%;
  text-shadow: 0.5vw 0.5vw 0.1vw #000; 
  letter-spacing: 0.1em; 
}

/* Header Styles */
.bio-header {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3em;
  -webkit-text-stroke-color: #000;
  margin-bottom: 1.5vw; 
  letter-spacing: 0.1em; 
  filter: drop-shadow(0.3vw 0.2vw 0.1vw grey) drop-shadow(0.5vw 0.5vw 0vw #000); 
}

.bio-quote {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  filter: drop-shadow(0.3vw 0.2vw 0.1vw grey) drop-shadow(0.5vw 0.5vw 0vw #000);
  padding: 1vw; 
  text-align: left;
}

.bio-paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em; 
  text-shadow: 0.5vw 0.5vw 0.1vw #000;
  max-width: 40rem; 
  margin: 0;
  line-height: 1.5em; 
  padding: 2vw; 
  border: 0.2vw solid #000;
  background-color: rgba(0, 0, 0, 0.7);
  filter: drop-shadow(0.3vw 0.2vw 0.1vw grey) drop-shadow(0.5vw 0.5vw 0vw #fff);
  text-align: justify;
}


@media (max-width: 767px) {
 
  .bio-section {
      text-align: center;
      align-items: center;
      padding: 5vw 8vw;
  }

 
   .bio-header,.bio-quote {
      margin: 0 auto;
      font-size: 2em; 
  }

  
  .bio-paragraph {
      margin: 0 auto;
      text-align: justify;
      max-width: 80vw; 
  }

  
  .schedule-button {
      margin-top: 5vw; 
      padding: 2vw 3vw; 
  }
}

.bio-sub {
  color: var(--site-color-02);
  
}

.bio-hed {
  color: var(--site-color-02);
}

.schedule-button {
  margin-top: 3vw; 
  font-size: 2vw; 
  font-weight: bold;
  display: block;
  background: url(../assets/wood2.png);
  color: #fff;
  letter-spacing: 0.4em; 
  text-decoration: underline;
  -webkit-text-stroke: 0.1vw var(--site-color-01); 
  border: 0.2vw solid var(--site-color-02); 
  filter: drop-shadow(0.3vw 0.2vw 0.1vw var(--site-color-03)) drop-shadow(0.5vw 0.5vw 0vw #000); 
  transition: 0.4s;
  padding: 2vw 3vw; 
  width: fit-content;
}

.schedule-button:hover {
  background: transparent;
  color: var(--site-color-02);
  border: 0.1vw solid #fff; /* Use vw for border */
  filter: drop-shadow(0.3vw 0.2vw 0.1vw grey) drop-shadow(0.5vw 0.5vw 0vw #000); 
  cursor: pointer;
}

.bio-quote h5 {
  font-size: 0.8em !important; 
  padding: 1vw 0; 
}
  