.back-to-top-link {
  display: inline-block;
  font-size: 24px;
  padding: 10px 20px; /* Increase padding */
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff; /* Change text color */
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-to-top-link:hover {
  background-color: #0056b3; /* Change background color on hover */
  transform: translateY(-2px);
}

/* Position the "Back to Top" link at the bottom-right of the page */
.back-to-top-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2; /* Ensure it's above other elements */
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer {
  background-image: url("../assets/footer2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 0;
  color: #fff;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 26px;
  line-height: 32px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 3px;
  border-left: 6px solid var(--site-color-01);
  box-shadow: -2px 0 0 var(--site-color-04);
  padding-left: 20px;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 60px;
  width: 60px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: var(--site-color-04);
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.footer {
  position: relative;
}

.footer-logo {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.footer-logo img {
  width: 550px;
  height: auto;
  display: block;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  color: #fff;
  font-size: 54px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .footer-logo {
    display: none;
  }
}
#contact-links i {
  font-size: 40px;
  color: #fff;
  margin-right: 20px;
  transition: all 0.3s ease;
}
#contact-links i:hover {
  color: #24262b;
}
#the-copy {
  font-size: 20px;
  color: #fff;
  margin-right: 20px;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}
.foot-sched {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  display: block;
  background: var(--background-image-01);
  color: #fff;
  letter-spacing: 4px;
  text-decoration: underline;
  -webkit-text-stroke: 1px var(--site-color-01);
  border: 3px solid var(--site-color-02);
  filter: drop-shadow(3px 2px 1px var(--site-color-03))
    drop-shadow(5px 5px 0px #000);
  transition: 0.4s;
  padding: 10px 10px;
  width: fit-content;
}
.foot-sched:hover {
  background: transparent;
  color: var(--site-color-02);
  border: 2px solid #fff;
  filter: drop-shadow(3px 2px 1px grey) drop-shadow(5px 5px 0px #000);
  cursor: pointer;
}
.tit-foot{
  font-family: 'Cinzel Decorative', sans-serif;
    font-size: 3.2em;
    -webkit-text-stroke-color: #000 2px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(3px 2px 1px grey) drop-shadow(5px 5px 0px #000);
}
