.services-title {
  text-align: center;
  padding: 50px 10px;
  background-image: var(--background-image-03); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  position: relative;
}

.title-container {
  display: inline-block;
  border: 5px solid var(--site-color-01);
  padding: 20px;
  border-radius: 10px;
  background-color: var(--site-color-03);
  text-align: center;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.2);
}

.services-title h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.services-title p {
  font-size: 1.2em;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-image: var(--background-image-01); 
  padding: 20px;
}

.service-card {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #000; /* Change this to your desired background color */
}

.service-card:nth-child(even) {
background-color: var(--site-color-03);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service-card:hover {
  transform: scale(1.1);
}

.service-card i {
  font-size: 3em;
  color: #ff5733; /* Change icon color */
  margin-top: 30px;
  margin-left: 30px;
}

.service-card h1 {
  font-family: 'Cinzel Decorative', sans-serif;
  padding: 10px;
    font-size: 1.4em;
    -webkit-text-stroke-color: #000 2px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    filter: drop-shadow(3px 2px 1px grey) drop-shadow(5px 5px 0px #000);
}

.service-card p {
  color: var(--site-color-04); 
  -webkit-text-stroke: 1px #000;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 1em;
  margin-top: 10px;
  padding-left: 23px;
}

@media (max-width: 767px) {
  .service-card {
    width: fit-content;
    height:  100%; /* Adjust as needed to make the boxes slightly longer on smaller screens */
  }
}
.serv-title{
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3em;
  -webkit-text-stroke-color: #000 2px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  filter: drop-shadow(3px 2px 1px grey) drop-shadow(5px 5px 0px #000);
}