.header-main{
	height: 100px;
	width: 100%;
	position: absolute;
	background-color:var(--brown-background);
	box-shadow: 0px 2px 5px rgba(0,0,0,.4);
    z-index: 1000;
}
.header-mainlogo {
	position: relative;
	   }
 
   .header-mainlogo img {
	 position: absolute;
	 z-index: 2;
	 top: -130px;
	 left: 50%;
	 transform: translateX(-50%);
	 width: 70vh;
	 height: 55vh; 
 }

.head-main-sm{
	position: absolute;
	top: 35px;
	right: 50px;
}
.head-main-sm .tile{
	display: inline-block;
	height: 50px;
	width: 50px;
	margin-left: 5px;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
}
.head-main-sm .tile.socialmedia{
	color: #361c0d;
	text-shadow: #ffcf40 0px 0px 2px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
	top: -6px;
}

.header-main {
	position: relative;
   }
 
@media screen and (max-width:320px){
	.header-main .head .tile.socialmedia{
		display: none;
	}
}

.head-main-sm {
	display: flex;
	align-items: center;
  }
  .tile.socialmedia {
	margin-right: 50px;
  }
.header-main-nav{
	width:120px;
	height: 100%;
	
}
.header-main-nav ul{
	display:flex;
	list-style: none;
	margin-left: 30px;
}
.header-main-nav ul li{
	display: inline;

}
.header-main-nav ul li a{
	padding: 0 30px;
	line-height:100px;
	color: #361c0d; /* Default text color */
	font-size: 35px; /* Default font size for list items */
	transition: color 0.3s, font-size 0.3s; /* 
	Add smooth transition effects */
	text-shadow: 0px 0px 2px #ffcf40;
}

  
.header-main .tile.socialmedia:hover {
	color: #ffcf40 ;
	transition: color 0.3s; 
	text-shadow: 0px 0px 2px #361c0d;
  }
  .header-main-nav ul li:hover a {
	color: #ffcf40; 
	transition: color 0.3s; 
	text-shadow: 0px 0px 2px #361c0d;
  }
  .header-main.clicked .head-main-sm .tile.socialmedia {
	display: none; /* Hide social media icons when the header is clicked */
  }
  @media (min-width: 769px) {
	.toggle-menu {
	  display: none;
	}
  }
  @media (max-width: 767px) {
    .header-mainlogo {
        display: none;
    }
}

@media (max-width: 768px) {
	.header-main-nav {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  top: 60px;
	  left: 0;
	  width: 100%;
	  background-color: transparent;
	}
	@media (max-width: 768px) {
		.head-main-sm {
		  display: none;
		}
	  }
	.header-main-nav.show {
	  display: flex;
	}
 
	.header-main-nav li {
	  margin: 10px 0;
	}
  
	.toggle-menu {
	  display: block;
	}
  
	.head-main-sm {
	  display: flex;
	}
	.toggle-menu{
		font-size: 40px;
		font-weight: bold;
		padding: 20px;
	}
  }
 
  @media (max-width: 768px) {
	.head-main-sm .tile.socialmedia {
	  display: none;
	}
  }
.rpt-example{
	position: relative;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	
}
/* Style for the custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the button */
.custom-button {
    background-color: #0000009e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown content */
.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for the dropdown items */
.custom-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: underline;
    display: block;
}

/* Hover effect for the dropdown items */
.custom-dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content on hover */
.custom-dropdown:hover .custom-dropdown-content {
    display: block;
}


  